* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.second-container {
    display: flex;
    width: 40%;
    height: 60%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.background {
    width: 50%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
   

}

.describe-item {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
   
    

}

.prices_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 95%;
    height: 40px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}

.addToCart:active {
    background-color: hsl(212, 21%, 14%);
}

.perfume {
    padding-bottom: 10px;
    font-family: Montserrat;
    letter-spacing: 2px;
    color: hsl(228, 12%, 48%);
}

.gabrielle {
    font-family: fraunces;
    color:  hsl(212, 21%, 14%); 
}

.content {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
}

.price_one {
    font-family: fraunces;
    font-size: 32px;
    color:  hsl(158, 36%, 37%);
} 

.price_two {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    padding-left: 15px;
}

.icon {
 padding-right: 10px;
}

@media only screen and (max-width: 451px) {


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: hsl(30, 38%, 92%);
    }
    

    .second-container {
        display: flex;
        flex-direction: column;
        width: 94%;
        height: 94%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }

    .background {
        width: 100%;
        height: 40%;
        background-image: url(/images/image-product-desktop.jpg);
        background-position: 25%;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
       
    
    }

    .describe-item {

            width: 100%;
            display: flex;
            flex-direction: column;    
            align-items: flex-start;
    }

    .addToCart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: hsl(158, 36%, 37%);
        border-radius: 5px;
        color: hsl(0, 0%, 100%);
    }
    

  }


  @media only screen and (max-width: 577px) {


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: hsl(30, 38%, 92%);
    }
    

    .second-container {
        display: flex;
        flex-direction: column;
        width: 94%;
        height: 94%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }

    .background {
        width: 100%;
        height: 50%;
        background-image: url(/images/image-product-desktop.jpg);
        background-position: 20% 40%;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
       
    
    }

    .describe-item {

            width: 100%;
            display: flex;
            flex-direction: column;    
            align-items: flex-start;
    }

    .addToCart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: hsl(158, 36%, 37%);
        border-radius: 5px;
        color: hsl(0, 0%, 100%);
    }
    

  }

  @media only screen and (max-width: 768px) {

    .second-container {
        display: flex;
        width: 90%;
        height: 90%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    
    .background {
        width: 50%;
        background-image: url(/images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 10px 0px 0px 10px;
    }

  }


  @media only screen and (max-width: 992px) {

    .second-container {
        display: flex;
        width: 70%;
        height: 70%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    
    .background {
        width: 50%;
        background-image: url(/images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 10px 0px 0px 10px;
    }

  }
